contourpy==1.0.7
cycler==0.11.0
fonttools==4.39.3
keyboard==0.13.5
kiwisolver==1.4.4
matplotlib==3.7.1
MouseInfo==0.1.3
numpy==1.24.3
opencv-python==4.7.0.72
packaging==23.1
Pillow==9.5.0
psutil==5.9.5
PyAutoGUI==0.9.53
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyparsing==3.0.9
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.28
python-dateutil==2.8.2
pytweening==1.0.5
pywin32==306
scipy==1.11.1
six==1.16.0
